.article {
  font-size: 15px;
  line-height: 19px;
  color: rgba(62, 62, 84, 0.7);

  &__info {
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #3E3E54;
    display: block;
    border-bottom: none;

    &:hover,
    &:focus {
      border-bottom: none;
    }
  }

  &__author {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (max-width: 1359px) {
      max-width: 100%;
      width: 100%;
      margin-bottom: 5px;
      // order: 1;
    }
  }

  &__views {

    &:before {
      content: '';
      background-image: url(../img/views-ico.svg);
      display: inline-block;
      height: 12px;
      width: 20px;
      background-repeat: no-repeat;
      background-position: left;
      margin-right: 5px;
    }
  }

  &__link-more {
    font-weight: 600;
    margin-bottom: 0;
    color: #3E3E54;
  }

  &-main-preview {
    width: 737px;

    &__item {
      display: none;
      min-height: 100%;
      background: #fff;
      border-radius: 10px;

      &--active {
        display: block;
      }
    }

    @media (max-width: 1359px) {
      width: 590px;
    }

    @media (max-width: 1109px) {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &-main-list {
    width: 328px;
    position: relative;

    &__item {
      position: absolute;
      cursor: pointer;
      left: 0;
      transform: translateX(-100%);
      transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
      z-index: 2;
      opacity: 0;

      &--active {
        position: relative;
        transform: translateX(0);
        transition: transform 0s ease-in-out;
        z-index: 1;
        opacity: 1;
      }

      &:nth-child(1),
      &:not(.article-main-list__item--active) + .article-main-list__item {
        padding-bottom: 30px;
        border-bottom: 1px solid #91909F;
        margin-bottom: 30px;
      }

      @media (max-width: 1109px) {
        width: calc(50% - 15px);
        border-bottom: none;
        padding-bottom: 0;
      }

      @media (max-width: 767px) {
        width: 100%;
        padding-bottom: 30px;
        border-bottom: 1px solid #91909F;
      }
    }

    @media (max-width: 1109px) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &-list {
    width: 767px;
    padding: 25px;
    border-radius: 10px;
    background-color: #F0EFF4;
    background-image: url(../img/bg.png);
    margin-top: -50px;
    box-shadow: 0px 4px 7px rgba(98, 109, 136, 0.25);

    @media (max-width: 1359px) {
      width: 670px;
    }

    @media (max-width: 1109px) {
      width: 100%;
    }
  }

  &-2-col {
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    padding: 50px 20px;
    min-height: 100%;

    &__img {
      width: 325px;

      @media (max-width: 1359px) {
        width: 220px;
      }

      @media (max-width: 1109px) {
        width: 300px;
      }

      @media (max-width: 767px) {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        max-height: 260px;
      }
    }

    &__content {
      width: 347px;

      @media (max-width: 1359px) {
        width: 300px;
      }

      @media (max-width: 1109px) {
        width: 350px;
      }

      @media (max-width: 767px) {
        width: 100%;
      }
    }

  }

  &-horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #91909F;
    margin-bottom: 30px;

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0;
    }

    &__content {
      width: 514px;

      @media (max-width: 1359px) {
        width: 430px;
      }

      @media (max-width: 767px) {
        width: 340px;
      }
    }

    &__img {
      width: calc(100% - 554px);
      margin-top: 20px;

      @media (max-width: 1359px) {
        width: calc(100% - 460px);
        margin-top: 60px;
      }

      @media (max-width: 767px) {
        width: calc(100% - 370px);
      }

      @media (max-width: 575px) {
        width: 100%;
        height: 150px;
        order: -1;
        margin-top: 0;
        margin-bottom: 20px;
        text-align: center;
      }
    }
  }

  &-vertical {
    padding-bottom: 30px;
    border-bottom: 1px solid #91909F;
    margin-bottom: 30px;

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0;
    }

    &__img {
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: 50% 30%;
      height: 115px;
      border-radius: 10px;
      display: block;
      border-bottom: none;

      &:hover,
      &:focus {
        border-bottom: none;
      }

      @media (max-width: 767px) {
        height: 200px;
      }
    }
  }

  &-subscribe {
    width: 280px;
    margin-top: 20px;

    @media (max-width: 1359px) {
      width: 240px;
    }

    @media (max-width: 1109px) {
      width: auto;
    }
  }

  &-carousel-item {
    background: #A5B0CE;
    box-shadow: 0px 4px 7px rgba(98, 109, 136, 0.15);
    border-radius: 10px;
    padding: 20px;
    color: #e5e4eb;

    &--no-bg {
      background: none;
      box-shadow: none;
      padding: 0;
    }

    &__info {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__img {
      width: 40%;
      height: 104px;
      text-align: right;

      img {
        width: auto !important;
        display: inline-block !important;
      }
    }

    .article__name,
    .article__link-more {
      color: #F2F1F5;
    }

    .article__name {
      height: 40px;
      overflow: hidden;
    }

    .article__text {
      height: 110px;
      overflow: hidden;
    }

    .article__views {

      &:before {
        background-image: url(../img/views-ico--white.svg);
      }
    }
  }

  &-detail {
    background-color: #F0EFF4;
    background-image: url(../img/bg.png);
    border-radius: 10px;
    box-shadow: 0px 4px 7px rgba(98, 109, 136, 0.25);
    padding: 20px 30px 50px;
    margin-top: -50px;
    margin-bottom: 50px;

    &__header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 10px;
      border-bottom: 1px solid;
      opacity: 0.7;
      margin-bottom: 30px;

      .article__info {
        min-width: 40%;

        .article__author {
          max-width: 200px;
        }
      }

      @media (max-width: 1109px) {
        .article__info {
          width: 100%;
        }
        
        .breadcrumbs {
          order: -1;
          margin-bottom: 10px;
          width: 100%;
        }
      }

      @media (max-width: 575px) {

        .article__info {
        
          .article__author {
            max-width: 100%;
          }
        }
      }
    }

    &__content {
      padding: 0 50px;
      margin: 0;

      @media (max-width: 1359px) {
        padding: 0;
      }
    }

    &__img {
      float: right;
      max-width: 170px;
      max-height: 190px;

      @media (max-width: 767px) {
        float: none;
        margin-bottom: 20px;
      }
    }

    &__structure {
      width: calc(100% - 200px);

      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}