.article {
  font-size: 15px;
  line-height: 19px;
  color: rgba(62, 62, 84, 0.7);

  &__info {
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #3E3E54;
  }

  &__author {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (max-width: 1359px) {
      max-width: 100%;
      width: 100%;
      margin-bottom: 5px;
      // order: 1;
    }
  }

  &__views {

    &:before {
      content: '';
      background-image: url(../img/views-ico.svg);
      display: inline-block;
      height: 12px;
      width: 20px;
      background-repeat: no-repeat;
      background-position: left;
      margin-right: 5px;
    }
  }

  &__link-more {
    font-weight: 600;
    margin-bottom: 0;
    color: #3E3E54;
  }

  &-main-preview {
    width: 737px;

    @media (max-width: 1359px) {
      width: 590px;
    }

    @media (max-width: 1109px) {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &-main-list {
    width: 328px;

    @media (max-width: 1109px) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .article-vertical {
        width: calc(50% - 15px);
        border-bottom: none;
        padding-bottom: 0;
      }
    }

    @media (max-width: 767px) {
      .article-vertical {
        width: 100%;
        padding-bottom: 30px;
        border-bottom: 1px solid #91909F;
      }
    }
  }

  &-2-col {
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    padding: 50px 20px;
    min-height: 100%;

    &__img {
      width: 325px;

      @media (max-width: 1359px) {
        width: 220px;
      }

      @media (max-width: 1109px) {
        width: 300px;
      }

      @media (max-width: 767px) {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        max-height: 260px;
      }
    }

    &__content {
      width: 347px;

      @media (max-width: 1359px) {
        width: 300px;
      }

      @media (max-width: 1109px) {
        width: 350px;
      }

      @media (max-width: 767px) {
        width: 100%;
      }
    }

  }

  &-vertical {
    padding-bottom: 30px;
    border-bottom: 1px solid #91909F;
    margin-bottom: 30px;

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0;
    }

    &__img {
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: 50% 30%;
      height: 115px;
      border-radius: 10px;

      @media (max-width: 767px) {
        height: 200px;
      }
    }
  }
}