.banner {
  height: 498px;
  background-image: url(../img/main_banner.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% auto;
  background-attachment: fixed;
  padding: 100px 0 20px;
  color: #fff;
  box-shadow: 0px 4px 7px rgba(98, 109, 136, 0.25);

  &--no-image {
    background-color: #737384;
    background-image: none;
  }

  &--small {
    height: 390px;;
  }

  @media (max-width: 1440px) {
    background-size: auto 498px;
  }

  &__content {
    height: 100%;
    align-items: center;
  }

  @media (max-width: 575px) {
    padding-top: 150px;
  }
}