.footer {

  &__content {
    height: 92px;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright {

    @media (max-width: 1109px) {
      order: 1;
      width: 50%;
      text-align: right;
    }
  }

  &__soc {

    @media (max-width: 1109px) {
      width: 50%;
    }
  }
}