.footer {
  color: #3E3E54;

  &--light {
    color: #737384
  }

  &__content {
    min-height: 92px;
    justify-content: space-between;
    align-items: center;

    &--border {
      border-top: 1px solid #737384;
    }

    @media (max-width: 575px) {
      min-height: 120px;
    }
  }

  &__copyright {

    @media (max-width: 1109px) {
      order: 1;
      width: 50%;
      text-align: right;
    }
  }

  &__soc {

    @media (max-width: 1109px) {
      width: 50%;
    }
  }
}