.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 44px;
  color: #fff;
  transform: translateY(-100px);
  opacity: 0;
  transition: transform 0.45s ease-in-out, opacity 0.60s ease-in-out;

  &--show {
    opacity: 1;
    transform: translateY(0);
  }
  
  &__logo {
    a {
      border-bottom: none;
    }

    @media (max-width: 919px) {
      width: 100%;
      text-align: center;
    }
  }

  &__contacts {
    align-content: center;
    align-items: center;
    min-width: 50%;
    justify-content: space-between;

    @media (max-width: 1359px) {
      min-width: 70%;
    }

    @media (max-width: 1109px) {
      min-width: 80%;
    }

    @media (max-width: 919px) {
      min-width: 100%;
      margin-top: 20px;
    }

    @media (max-width: 575px) {
      flex-direction: column;
      align-items: flex-start;
      align-content: flex-start;
    }
  }

  @media (max-width: 919px) {
    top: 20px;
  }
}