.services-main {
  align-items: center;
  justify-content: space-between;
  margin-top: -72px;
  margin-bottom: 104px;
  overflow: hidden;
  position: relative;

  &__preview-item {
    width: 310px;

    @media (max-width: 1109px) {
      display: none;
    }
  }

  &__list {
    width: 780px;
    height: 460px !important;

    @media (max-width: 1359px) {
      width: 630px;
      height: 400px !important;
    }

    @media (max-width: 1109px) {
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: auto !important;
    }

    @media (max-width: 575px) {
      justify-content: center;
    }
  }

  &__item {
    opacity: 0;
    visibility: hidden;
    display: none;
    
    &--active {
      opacity: 1;
      visibility: visible;
      display: block;
    }
  }

  @media (max-width: 1359px) {
    margin-top: -52px;
    margin-bottom: 70px;
  }

  @media (max-width: 1109px) {
    margin-bottom: 40px;
  }
}