.workarea {
  margin: 30px 0 50px;

  &__left-side {
    width: 322px;
    margin-right: 70px;
    flex-shrink: 0;

    @media (max-width: 1109px) {
      width: 100%;
      order: 1;
    }
  }

  &__content {
    width: calc(100% - 392px);

    @media (max-width: 1109px) {
      width: 100%;
    }
  }

  h1, h2, h3, p, ul, ol {
    margin-bottom: 20px;
  }

  ul {
    list-style-image: url(../img/marker-ico.svg);
    padding-left: 20px;
    
    li {
      margin-bottom: 15px;
    }
  }
  
  ol {
    padding-left: 20px;

    li {
      margin-bottom: 5px;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;

    tr {

      &:last-child {
        
        td {
          border-bottom: 0;
        }
      }
    }

    td {
      padding: 20px;
      vertical-align: top;
      border-bottom: 1px solid;
      border-right: 1px solid;

      &:last-child {
        border-right: 0;
      }
    }
  }
}