body {
  font-family: 'Montserrat', sans-serif;
  color: #737384;
  font-size: 15px;
  background-color: #dfdfe8;
  background-image: url(../img/bg.png)
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid;
  line-height: 95%;
  transition: border-color 0.25s ease-in-out;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid transparent;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

.dark-bg {
  background-color: #6d768f;
  background-image: url(../img/bg.png);
  color: #fff;
}

.light-bg {
  background-color: #C1C5D6;
  background-image: url(../img/bg.png);
}

.py {
  &-5 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.mr {
  &-3 {
    margin-right: 20px;
  }
  &-4 {
    margin-right: 30px;
  }
}

.mt {
  &-3 {
    margin-top: 20px;
  }
  &-4 {
    margin-top: 30px;
  }
  &-5 {
    margin-top: 50px;
  }
}

.mb {
  &-2 {
    margin-bottom: 15px;
  }
  &-4 {
    margin-bottom: 30px;
  }
  &-5 {
    margin-bottom: 50px !important;
  }
}

.color-gray {
  color: #737384 !important;
}

.col {
  &-1 {
    width: 8.33%;
  }
  &-2 {
    wisth: 16.66%;
  }
  &-3 {
    width: 25%;
  }
  &-4 {
    width: 33.33%;
  }
  &-5 {
    width: 41.66%;
  }
  &-6 {
    width: 50%;
  }
  &-7 {
    width: 58.33%;
  }
  &-8 {
    width: 66.66%;
  }
  &-9 {
    width: 75%;
  }
  &-10 {
    width: 83.33%;
  }
  &-11 {
    width: 91.66%;
  }
  &-12 {
    width: 100%;
  }

  @media (max-width: 1109px) {
    &-1,
    &-2,
    &-3,
    &-4,
    &-5,
    &-6,
    &-7,
    &-8,
    &-9,
    &-10,
    &-11,
    &-12 {
      width: 100%;
    }
  }
}

h1, .h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 47px;
  margin-bottom: 15px;

  @media (max-width: 575px) {
    font-size: 34px;
    line-height: 34px;
  }
}

h2, .h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 33px;
  margin-bottom: 15px;

  @media (max-width: 575px) {
    font-size: 26px;
    line-height: 26px;
  }
}

h3, .h3 {
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;

  @media (max-width: 575px) {
    font-size: 21px;
    line-height: 21px;
  }
}

.sub-title {
  font-size: 20px;
  line-height: 22px;

  @media (max-width: 575px) {
    font-size: 18px;
    line-height: 20px;
  }
}

.heading {
  font-size: 17px;
  font-weight: 600;
  line-height: 17px;
}

.order {

  &-xs {

    @media (max-width: 575px) {
      &-first {
        order: -1;
      }
    }
  }
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.hidden {
  display: none;
}
