.bg1 {
  background: url(img/bg.jpg) center center no-repeat;
  background-size: cover;
}
body {
  font-family: Roboto;
}
#main {
  position: relative;
}
#main:after {
  content: '';
  width: 100%;
  height: 432px;
  background: url(img/obl.png) center top no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: -105px;
  z-index: 5;
}
#main .container {
  position: relative;
}
#main .container .row {
  position: relative;
  z-index: 40;
}
header {
  padding-top: 25px;
}
header .container {
  position: relative;
  z-index: 40;
}
header .container .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 25px;
}
header .container .logo span {
  /* Style for "ОРТОПРОФ" */
  color: #ffffff;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 700;
  line-height: 30px;
  margin-left: 9px;
}
header .container .linev {
  height: 36px;
  width: 1px;
  background: #fff;
  margin-right: 47px;
}
header .container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 523px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 43px;
}
header .container .menu a {
  display: block;
  /* Style for "О процедур" */
  color: #ffffff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}
header .container .time {
  /* Style for "Пн-Пт 10:0" */
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  margin-right: 47px;
}
header .container .time span {
  display: block;
}
header .container .tel .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9px;
}
header .container .tel .phone img {
  display: block;
  margin-right: 4px;
}
header .container .tel .phone a {
  /* Style for "8 (800) 20" */
  color: #ffffff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 700;
}
header .container .tel button {
  /* Style for "Rectangle" */
  border-radius: 100px;
  background-color: #5d7c8b;
  width: 180px;
  padding: 0;
  height: 33px;
  border: none;
}
header .container .tel button span {
  background-color: #92abb6;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 100px;
  position: relative;
  top: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Style for "Получить к" */
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
}
#main h1 {
  /* Style for "Быстрая и" */
  color: #ffffff;
  margin-top: 43px;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  /* Text style for "Быстрая и" */
  font-family: "Roboto";
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 59px;
}
#main h1 span {
  font-weight: 400;
  font-size: 40px;
  display: block;
}
#main .text {
  /* Style for "Если вы за" */
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  padding-left: 11px;
  border-left: 3px solid #3392dd;
  margin-bottom: 57px;
}
#main .block {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#main .block .item:first-of-type {
  margin-right: 40px;
}
#main .block .title {
  font-size: 18px;
  /* Text style for "6 специали" */
  color: #3392dd;
  font-family: "Roboto";
  font-weight: 700;
  margin-bottom: 24px;
}
#main .block .text2 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
}
#main button {
  background: none;
  border: none;
  margin-left: -37px;
  position: relative;
  top: -20px;
}
#main .container {
  position: relative;
}
#main .girl {
  position: absolute;
  right: 202px;
  bottom: 0;
  z-index: 3;
}
#main .play {
  width: 439px;
  height: 439px;
  background: url(img/play.png) center center no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 2;
  right: 101px;
  top: 50px;
}
#main .text-play {
  /* Style for "Посмотрите" */
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  padding-left: 324px;
  padding-top: 122px;
  position: absolute;
  right: 122px;
  top: 37px;
  z-index: 50;
  cursor: pointer;
}
#main .text-play span {
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
}
#block1 {
  position: relative;
  z-index: 50;
  background: url(img/2.png) right top no-repeat;
}
#block1 .title {
  /* Style for "Что такое" */
  color: #535252;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 700;
}
#block1 .l {
  width: 96px;
  height: 5px;
  background-color: #3392dd;
  margin-top: 9px;
}
#block1 .dot {
  width: 19px;
  height: 19px;
  /* Style for "Ellipse 24" */
  border: 2px solid #2699fb;
  background-color: #ffffff;
  border-radius: 100%;
}
#block1 .text {
  /* Style for "Винир пред" */
  color: #666666;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 17px;
}
#block1 .text span {
  font-weight: 700;
}
#block1 .item1 {
  margin-bottom: 74px;
  margin-top: 50px;
}
#block1 .item2 {
  margin-left: 98px;
  margin-bottom: 53px;
}
#block1 .item3 {
  margin-bottom: 51px;
}
#block2 {
  background: url(img/02.png) center left -289px no-repeat;
}
#block2 .title {
  text-align: center;
  /* Style for "Преимущест" */
  color: #535252;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin-bottom: 36px;
}
#block2 .title span {
  position: relative;
}
#block2 .title span:after {
  content: '';
  display: block;
  width: 96px;
  height: 5px;
  background-color: #3392dd;
  position: absolute;
  left: 0;
}
#block2 .item1 {
  width: 283px;
  height: 295px;
  background: url(img/r1.png) center center no-repeat;
  background-size: cover;
  position: absolute;
  left: 202px;
  top: -21px;
  padding-top: 86px;
  padding-left: 32px;
  padding-right: 44px;
}
#block2 .item1:before {
  width: 60px;
  height: 59px;
  content: '';
  display: block;
  background: url(img/plus.png) center center no-repeat;
  background-size: cover;
  position: absolute;
  right: -45px;
  top: 104px;
}
#block2 .item1 .title-text {
  /* Style for "Долговечно" */
  color: #666666;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 5px;
}
#block2 .item1 .text {
  /* Style for "Керамическ" */
  color: #666666;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
}
#block2 .item3 {
  width: 315px;
  height: 275px;
  background: url(img/r3.png) center center no-repeat;
  background-size: 100%;
  position: absolute;
  left: 140px;
  top: 302px;
  padding-top: 86px;
  padding-left: 32px;
  padding-right: 44px;
}
#block2 .item3:before {
  width: 60px;
  height: 59px;
  content: '';
  display: block;
  background: url(img/plus.png) center center no-repeat;
  background-size: cover;
  position: absolute;
  right: -45px;
  top: 104px;
}
#block2 .item3 .title-text {
  /* Style for "Долговечно" */
  color: #666666;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 5px;
}
#block2 .item3 .text {
  /* Style for "Керамическ" */
  color: #666666;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
}
#block2 .item2 {
  width: 299px;
  height: 298px;
  background: url(img/r2.svg) center center no-repeat;
  background-size: 100%;
  position: absolute;
  right: 170px;
  top: -60px;
  padding-top: 98px;
  padding-left: 43px;
  padding-right: 44px;
  z-index: 50;
}
#block2 .item2:before {
  width: 60px;
  height: 59px;
  content: '';
  display: block;
  background: url(img/plus.png) center center no-repeat;
  background-size: cover;
  position: absolute;
  left: -45px;
  top: 104px;
}
#block2 .item2 .title-text {
  /* Style for "Долговечно" */
  color: #666666;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 5px;
}
#block2 .item2 .text {
  /* Style for "Керамическ" */
  color: #666666;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
}
#block2 .item4 {
  width: 299px;
  height: 291px;
  background: url(img/r4.png) center center no-repeat;
  background-size: 100%;
  position: absolute;
  right: 100px;
  top: 240px;
  padding-top: 98px;
  padding-left: 43px;
  padding-right: 44px;
  z-index: 50;
}
#block2 .item4:before {
  width: 60px;
  height: 59px;
  content: '';
  display: block;
  background: url(img/plus.png) center center no-repeat;
  background-size: cover;
  position: absolute;
  left: -45px;
  top: 104px;
}
#block2 .item4 .title-text {
  /* Style for "Долговечно" */
  color: #666666;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 5px;
}
#block2 .item4 .text {
  /* Style for "Керамическ" */
  color: #666666;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
}
#block2 .girl2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#block2 .button {
  /* Style for "Получить к" */
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background: url(img/btn2.png) center top no-repeat;
  height: 122px;
  width: 364px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0;
  left: 58px;
  right: 0;
}
.b {
  background: url(img/03.png) top 496px right -93px no-repeat;
}
#block3 {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(246, 246, 246, 0)), color-stop(31%, #f6f6f6), color-stop(59%, rgba(246, 246, 246, 0.77)), to(rgba(246, 246, 246, 0)));
  background-image: linear-gradient(180deg, rgba(246, 246, 246, 0) 0%, #f6f6f6 31%, rgba(246, 246, 246, 0.77) 59%, rgba(246, 246, 246, 0) 100%);
}
#block3:before {
  content: '';
  display: block;
  background: url(img/04.png) left bottom no-repeat;
  width: 353px;
  height: 373px;
  position: absolute;
  bottom: 0;
  left: -131px;
}
#block3 .title {
  /* Style for "Этапы изго" */
  color: #535252;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  position: relative;
}
#block3 .l {
  width: 96px;
  height: 5px;
  background-color: #3392dd;
  margin-bottom: 63px;
}
#block3 .block-img {
  margin-bottom: 28px;
}
#block3 .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 286px;
}
#block3 .block img {
  margin-bottom: 20px;
}
#block3 .block .title2 {
  /* Style for "Определени" */
  color: #666666;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 14px;
}
#block3 .block .text {
  /* Style for "-Консульта" */
  color: #666666;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
}
#block3 .block .text span {
  display: block;
  margin-bottom: 10px;
}
#block3 .block2 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#block3 .block2 .title2 {
  margin-left: auto;
  text-align: right;
}
#block3 .block2 .text {
  text-align: left!important;
}
#block3 .block2 img {
  display: block;
  margin-left: auto;
  margin-right: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
#form {
  background: url(img/bg001.jpg) center center no-repeat;
  background-size: cover;
  padding-top: 301px;
  padding-bottom: 370px;
}
#form .title {
  /* Style for "Получите к" */
  color: #f6f6f6;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 400;
  margin-top: 36px;
  margin-bottom: 58px;
  padding-left: 14px;
  border-left: 2px solid #3392dd;
}
#form .title span {
  font-weight: 700;
}
#form form {
  position: relative;
  width: 368px;
  margin-left: auto;
}
#form form:before {
  content: '';
  display: block;
  width: 420px;
  height: 249px;
  background: url(img/zubi.png) center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 149px;
  left: -364px;
  z-index: 1;
}
#form .block-form {
  width: 368px;
  height: 447px;
  margin-left: auto;
  background: url(img/form.svg);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 61px;
  position: relative;
  z-index: 100;
}
#form .block-form h3 {
  /* Style for "Заполните" */
  color: #3392dd;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 700;
  margin-top: 0;
  text-align: center;
  margin-bottom: 9px;
}
#form .block-form .text-form {
  /* Style for "И мы свяже" */
  color: #666666;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 27px;
}
#form .block-form input {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  /* Style for "Rectangle" */
  border-radius: 1000px;
  border: 1px solid #f6f6f6;
  width: 100%;
  padding-left: 17px;
  margin-bottom: 19px;
  height: 53px;
  outline: none;
}
#form .block-form input[type="submit"] {
  background: url(img/btn3.png) center top no-repeat;
  background-size: cover;
  width: 100%;
  border: none;
  border-radius: 0;
  height: 139px;
  margin-left: auto;
  margin-right: auto;
  /* Style for "Записаться" */
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: -47px;
}
#form .block-form button {
  background: none;
  border: none;
  display: block;
  margin-bottom: -43px;
}
#form .block-form .policy {
  /* Style for "Нажмите на" */
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  /* Text style for "Нажмите на" */
  color: #666666;
  /* Text style for "" */
  color: #99a0ac;
  text-align: center;
}
#form .block-form .policy a {
  color: #2678e1;
}
#form .text-title {
  /* Style for "3D проекци" */
  color: #3392dd;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 9px;
}
#form .text {
  /* Style for "наши специ" */
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 19px;
}
#block4 {
  background: url(img/bur.png) top 258px right -323px no-repeat;
}
#block4 .title {
  /* Style for "Дополнител" */
  color: #535252;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 700;
}
#block4 .l {
  width: 96px;
  height: 5px;
  background-color: #3392dd;
  margin-bottom: 126px;
}
#block4 div * {
  outline: none!important;
}
#block4 div .sl-left {
  border-top: 1px solid rgba(123, 181, 226, 0.5);
  border-bottom: 1px solid rgba(123, 181, 226, 0.5);
  padding: 18px 0;
  max-width: 384px;
}
#block4 div .sl-left .block {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#block4 div .sl-left .block .img {
  width: 64px;
  margin-right: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#block4 div .sl-left .block .text-block {
  text-align: center;
}
#block4 div .sl-left .block .text-block .name {
  /* Style for "Алексеева" */
  color: #969696;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  -webkit-transition: 0.25!important;
  transition: 0.25!important;
}
#block4 div .sl-left .block .text-block .work {
  /* Style for "Стоматолог" */
  color: #b9b9b9;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
}
#block4 div .sl-left .slick-current .name {
  color: #7bb5e2!important;
  -webkit-transition: 0.25!important;
  transition: 0.25!important;
}
#block4 .slider-main {
  position: relative;
  top: -123px;
}
#block4 .slider-main .block img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#block4 .slider-main .block .doc {
  margin-bottom: -82px;
}
#block4 .slider-main .block .name {
  /* Style for "Кадушкина" */
  color: #666666;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
  text-align: center;
}
#block4 .slider-main .block .work {
  /* Style for "Стоматолог" */
  color: #b9b9b9;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 39px;
  text-align: center;
}
#block4 .slick-prev:before,
#block4 .slick-next:before {
  display: none;
}
#block4 .arr-container {
  padding-top: 20px;
  text-align: center;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#block4 .arr-container span {
  /* Style for "01/03" */
  color: #a2b2be;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  /* Text style for "01" */
  display: inline-block;
}
#block4 .arr-container span #cp {
  color: #3392dd;
  font-size: 18px;
}
#block4 .slick-prev {
  width: 25px;
  height: 36px;
  background: url(img/up.png) center center no-repeat;
  background-size: cover;
  position: relative;
  left: 1px;
  top: 0;
  bottom: 0;
  right: 0;
}
#block4 .slick-next {
  width: 25px;
  height: 36px;
  background: url(img/down.png) center center no-repeat;
  background-size: cover;
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: 35px;
  right: 0;
}
#block4 .btn6 {
  cursor: pointer;
}
button,
a,
input {
  outline: none;
}
#block5 .title {
  /* Style for "Дополнител" */
  color: #535252;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 700;
}
#block5 .l {
  width: 96px;
  height: 5px;
  background-color: #3392dd;
  margin-bottom: 126px;
}
#block5 .block {
  width: 100%;
  height: 284px;
  /* Style for "Rectangle" */
  -webkit-box-shadow: 0 6px 36px rgba(123, 181, 226, 0.4);
          box-shadow: 0 6px 36px rgba(123, 181, 226, 0.4);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 7px;
  position: relative;
}
#block5 .block .block2 {
  /* Style for "Rectangle" */
  border-radius: 10px;
  border: 1px dashed #b1c1cc;
  height: 100%;
  padding-top: 127px;
}
#block5 .block .title2 {
  /* Style for "Все виды п" */
  color: #444444;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 14px;
  text-align: center;
  position: relative;
  z-index: 200;
}
#block5 .block .text {
  /* Style for "Эффективны" */
  color: #666666;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}
#block5 .block .img {
  /* Style for "Rectangle" */
  -webkit-box-shadow: 0 3px 26px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 26px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  width: 288px;
  height: 179px;
  padding: 6px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -69px;
  z-index: 50;
}
#block5 .block .img .border {
  /* Style for "Rectangle" */
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  border: 1px solid #ffffff;
  height: 100%;
}
#block5 .img1 {
  background: url(img/z1.jpg) center center no-repeat;
  background-size: 120%;
  position: relative;
}
#block5 .img2 {
  background: url(img/z2.jpg) center center no-repeat;
  background-size: 120%;
  position: relative;
  z-index: 1;
}
#block5 .img2:before {
  content: '';
  display: block;
  width: 400px;
  height: 186px;
  position: absolute;
  right: 120px;
  top: 68px;
  z-index: 100;
  background: url(img/t1.png) center center no-repeat;
  background-size: cover;
}
#block5 .block {
  z-index: -1;
}
#block5 .img3 {
  background: url(img/z3.jpg) center center no-repeat;
  background-size: 120%;
  position: relative;
  z-index: 1;
}
#block5 .img3:before {
  content: '';
  display: block;
  width: 584px;
  height: 271px;
  position: absolute;
  right: 60px;
  top: -153px;
  z-index: 100;
  background: url(img/t2.png) center center no-repeat;
  background-size: cover;
}
#block5 .button {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 38px;
}
#block5 .img {
  position: relative;
}
#block5 .img .hit {
  position: absolute;
  top: 0;
  left: 19px;
}
#block6 {
  position: relative;
}
#block6 .title {
  /* Style for "Дополнител" */
  color: #535252;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 700;
}
#block6 .l {
  width: 96px;
  height: 5px;
  background-color: #3392dd;
  margin-bottom: 25px;
}
#block6 .doc {
  position: absolute;
}
#block6 .text-doc {
  padding-left: 311px;
  /* Style for "«Мы стреми" */
  color: #666666;
  font-family: Roboto;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 20px;
}
#block6 .name {
  padding-left: 311px;
  /* Style for "Лопаткин В" */
  color: #3392dd;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
  position: relative;
  z-index: 5;
}
#block6 .work {
  /* Style for "Врач клини" */
  color: #666666;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 14px;
  margin-left: 311px;
  position: relative;
  z-index: 5;
}
#block6 .sig {
  margin-left: 400px;
  position: relative;
  z-index: 5;
}
#block6 .text {
  /* Style for "Исключител" */
  color: #444444;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 300;
  margin-bottom: 17px;
}
#block6 .text2 {
  /* Style for "Мы предлаг" */
  opacity: 0.7;
  color: #666666;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
}
#block7 {
  padding-top: 36px;
  background: rgba(123, 181, 226, 0.03);
  padding-bottom: 51px;
}
#block7 .main-img {
  margin-left: 88px;
}
#block7 .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 521px;
  margin-top: 14px;
  margin-left: 88px;
}
#block7 .tab-content .tab {
  opacity: 0;
  z-index: -50;
  position: absolute;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
#block7 .tab-content .tab.current {
  opacity: 1;
  position: relative;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  z-index: 50;
}
#block7 .link {
  cursor: pointer;
}
#block7 form {
  border: 1px dashed #a0b4c1;
  width: 356px;
  padding-top: 16px;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-top: 21px;
}
#block7 form button {
  background: url(img/btn5.png) center center no-repeat;
  background-size: cover;
  width: 100%;
  border: none;
  outline: none;
  height: 139px;
  margin-bottom: -47px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#block7 form .policy {
  /* Style for "Нажмите на" */
  color: #2678e1;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  /* Text style for "Нажмите на" */
  color: #666666;
  /* Text style for "" */
  color: #99a0ac;
  text-align: center;
}
#block7 form h3 {
  margin: 0;
  /* Style for "Остались в" */
  color: #3392dd;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 4px;
  text-align: center;
}
#block7 form .text-form {
  /* Style for "Наш менедж" */
  color: #666666;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 22px;
  text-align: center;
}
#block7 form input {
  width: 307px;
  margin-left: auto;
  margin-right: auto;
  /* Style for "Rectangle" */
  border-radius: 1000px;
  display: block;
  border: 1px solid #f6f6f6;
  margin-bottom: 19px;
  padding-left: 17px;
  /* Style for "Имя" */
  color: #a2b2be;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 53px;
}
#block8 {
  background: url(img/el.png) center bottom no-repeat;
}
#block8 .title {
  /* Style for "Дополнител" */
  color: #535252;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 700;
}
#block8 .l {
  width: 96px;
  height: 5px;
  background-color: #3392dd;
  margin-bottom: 34px;
}
#block8 .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#block8 .swiper-slide {
  padding-top: 56px;
}
#block8 .block1 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* Style for "Rectangle" */
  border-radius: 10px;
  background-color: #ffffff;
  width: 367px;
  height: 475px;
  padding: 12px;
  position: relative;
  left: 80px;
  top: 145px;
  -webkit-box-shadow: 0px 70px 40px -70px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 70px 40px -70px rgba(0, 0, 0, 0.2);
  z-index: 5;
}
#block8 .block1 .photo {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -56px;
}
#block8 .block1 .border {
  /* Style for "Rectangle" */
  border-radius: 10px;
  border: 1px dashed #b1c1cc;
  height: 100%;
  padding-top: 60px;
  text-align: center;
}
#block8 .block1 .border .name {
  /* Style for "Ирина Хаса" */
  color: #444444;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 16px;
}
#block8 .block1 .border .text1 {
  /* Style for "Лечусь в к" */
  color: #666666;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
#block8 .block1 .border .text2 {
  max-width: 281px;
  margin-left: auto;
  margin-right: auto;
  /* Style for "У меня меж" */
  color: #777777;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
#block8 .block2 {
  width: 721px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
#block8 .block2 .main-img2 {
  width: 721px;
  height: 445px;
  background-size: cover;
  background: url(img/i1.jpg);
  padding: 12px;
  position: relative;
}
#block8 .block2 .main-img2 .border {
  /* Style for "Rectangle" */
  border-radius: 10px;
  border: 1px solid #ffffff;
  position: absolute;
  top: 12px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  left: 12px;
}
#block8 .block2 .tab {
  position: absolute;
  opacity: 0;
  z-index: -50;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
#block8 .block2 .tab.current {
  position: relative;
  opacity: 1;
  z-index: 1;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
#block8 .block2 .line-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 524px;
  margin-top: 14px;
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: 42px;
}
#block8 .block2 .line-photo .item {
  width: 158px;
  height: 103px;
  border-radius: 10px;
  background: url(img/i1.jpg) center center no-repeat;
  background-size: cover;
  cursor: pointer;
}
#block8 .swiper-pagination-fraction {
  bottom: 100px;
  font-family: Roboto;
  color: #777777;
  font-style: italic;
}
#block8 span.swiper-pagination-current {
  /* Style for "01/02" */
  color: #777777;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  line-height: 20px;
  /* Text style for "01" */
  font-size: 16px;
  font-weight: 400;
}
#block8 span.swiper-pagination-total {
  font-family: Roboto;
  color: #777777;
  font-size: 12px;
  font-style: italic;
  line-height: 20px;
}
#block8 .swiper-button-prev {
  left: 0px;
  width: 59px;
  height: 59px;
  background: url(img/left.png) center center no-repeat;
  background-size: cover;
}
#block8 .swiper-button-next {
  right: 0px;
  width: 59px;
  height: 59px;
  background: url(img/right.png) center center no-repeat;
  background-size: cover;
}
#block8 .swiper-container {
  margin-left: -10px;
  margin-right: -10px;
}
#block9 .title {
  /* Style for "Как нас на" */
  color: #535252;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}
#block9 .title span {
  position: relative;
}
#block9 .title span:after {
  content: '';
  display: block;
  width: 96px;
  height: 5px;
  position: absolute;
  left: 0;
  background-color: #3392dd;
}
footer {
  padding-top: 23px;
  padding-bottom: 15px;
  background: url(img/f.png) center top no-repeat;
  background-size: cover;
}
footer .link {
  /* Style for "Lion web" */
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  /* Text style for "Lion" */
  color: #222222;
}
footer .link span {
  color: #ed4e1a;
}
footer .text {
  /* Style for "Упаковка и" */
  color: #222222;
  margin-top: 10px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 26px;
}
footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9px;
}
footer .logo img {
  margin-right: 10px;
}
footer .logo span {
  /* Style for "ОРТОПРОФ" */
  color: #3599ea;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 700;
  line-height: 30px;
}
footer .policy {
  /* Style for "Политика к" */
  color: #99a0ac;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  /* Text style for "Политика ," */
  text-decoration: underline;
  display: block;
  margin-bottom: 14px;
}
footer .copyright {
  /* Style for "©2018-2019" */
  color: #222222;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
}
footer .tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7px;
}
footer .tel img {
  margin-right: 15px;
}
footer .tel .block,
footer .tel a {
  /* Style for "+7 (846) 2" */
  color: #b1c1cc;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  display: block;
}
.modal-sm {
  width: 390px;
}
#modal .modal-body .border,
#modal1 .modal-body .border {
  border: 1px dashed #a0b4c1;
  width: 356px;
  text-align: center;
  border-radius: 10px;
}
#modal .modal-body .border .title,
#modal1 .modal-body .border .title {
  /* Style for "Оставьте з" */
  color: #3392dd;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 6px;
}
#modal .modal-body .border .text,
#modal1 .modal-body .border .text {
  /* Style for "И мы свяже" */
  color: #666666;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 24px;
}
#modal .modal-body .border form input,
#modal1 .modal-body .border form input {
  height: 53px;
  width: 307px;
  /* Style for "Rectangle" */
  border-radius: 1000px;
  border: 1px solid #f6f6f6;
  margin-bottom: 19px;
  padding-left: 17px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}
#modal .modal-body .border form button,
#modal1 .modal-body .border form button {
  width: 100%;
  border: none;
  margin-bottom: -43px;
  display: block;
}
#modal .modal-body .border form .policy,
#modal1 .modal-body .border form .policy {
  margin-bottom: 14px;
  display: block;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  /* Text style for "Нажмите на" */
  color: #666666;
  /* Text style for "" */
  color: #99a0ac;
}
#modal .modal-body .border form .policy a,
#modal1 .modal-body .border form .policy a {
  color: #2678e1;
}
body {
  position: relative;
}
.nums {
  position: absolute;
  display: none;
  top: 600px;
  z-index: 1000;
  left: 20px;
  width: 27px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.nums img {
  margin-bottom: 23px;
  display: block;
}
.nums .line {
  height: 100%;
  width: 1px;
  background: #b1c1cc;
}
@media (min-width: 0px) and (max-width: 767px) {
  #block6 .doc {
    width: 151px;
    margin-left: -30px;
  }
  #block6 .text-doc,
  #block6 .name {
    padding-left: 130px;
  }
  #block6 .sig,
  #block6 .work {
    margin-left: 130px;
  }
  #block6 .text-doc {
    font-size: 11px;
    margin-bottom: 15px;
  }
  #block6 .name {
    font-size: 14px;
    margin-bottom: 8px;
  }
  #block6 .work {
    font-size: 11px;
  }
  #block6 .sig {
    position: relative;
    top: -10px;
  }
  #block6 .text {
    font-size: 14px;
  }
  #block6 .text2 {
    font-size: 11px;
  }
  #block5 .title {
    font-size: 20px;
  }
  #block5 .block {
    width: 279px;
    height: 231px;
    margin-bottom: 100px;
  }
  #block5 .block .img {
    width: 233px;
    height: 146px;
  }
  #block5 .block .block2 {
    padding-top: 80px;
  }
  #block2 .item {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
  }
  #main {
    overflow: hidden;
  }
  #main h1 {
    font-size: 24px;
  }
  #main h1 span {
    font-size: 23px;
  }
  #main .block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #main .block .title,
  #main .block .text2 {
    font-size: 13px;
  }
  #main .block .item:first-of-type {
    margin-right: 0;
    margin-bottom: 14px;
  }
  #main .block .title {
    margin-bottom: 10px;
  }
  #main .girl {
    right: -90px;
    width: 288px;
  }
  #main .play {
    right: 10px;
    top: 150px;
    width: 319px;
    height: 319px;
  }
  #main h1 {
    margin-bottom: 10px;
  }
  #main .text-play {
    font-size: 10px;
    right: 100px;
    top: 77px;
  }
  #main button {
    width: 200px;
    position: relative;
    top: -30px;
  }
  #block1 .title {
    font-size: 20px;
  }
  #block1 {
    background-size: 81px 165px;
    background-image: url(img/m1.png);
    background-position: top right;
  }
  #block1 .one {
    width: 407px;
    position: absolute;
    left: -140px;
  }
  #block1 .item1 {
    width: 70%;
    margin-left: 100px;
  }
  #block1 .text {
    font-size: 13px;
    line-height: 1.2;
  }
  #block1 .one {
    width: 325px;
  }
  #block1 .item1 {
    margin-bottom: 20px;
  }
  #block1 .item3 {
    width: 80%;
    margin-left: 70px;
  }
  #block1 .item2 {
    margin-bottom: 10px;
  }
  #block2 .title {
    font-size: 20px;
  }
}
